.tool-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #407f7f;
    border-bottom: 2px solid #0d4d4d;
}
